textarea[disabled],
.ck-content[disabled] {
    background-color: #f5f5f5;
    color: #878787;
}

.translator__container {
    position: relative;
}

.translator__container--disabled {
    pointer-events: none;
}

.translator__container--disabled:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.translator__container .ck ~ .translator__btn {
    position: absolute;
    top: 57px;
    right: 3px;
}

.translator__container .ck ~ .translator__undo-btn,
.translator__container textarea ~ .translator__undo-btn {
    right: 30px;
}

.translator__btn {
    position: absolute;
    background-color: #52b6ca;
    right: 3px;
    top: 3px;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 99px;
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.25s;
}

.translator__btn > span {
    color: #ffffff;
    font-size: 15px;
}

.translator__btn:hover {
    opacity: 1;
}

.translator__btn--checked {
    background-color: #6ac86b;
    opacity: 1;
    pointer-events: none;
}

.translator__undo-btn {
    background-color: #dcdcdc;
    right: 30px;
}

.translator__undo-btn > span {
    color: #112a46;
}

.translator__undo-btn.hidden {
    display: none;
}

.translator__bulk-btn {
    --translator-process: 0;
    position: relative;
}

.translator__bulk-btn:after {
    content: "";
    transition: all 0.25s;
    position: absolute;
    background: #6ac86b;
    height: 3px;
    width: var(--translator-process);
    left: 0;
    bottom: 0;
}
